*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#111;
    font-family: 'Courier New', Courier, monospace;  
}
.row_poster{
    width: 100%;
    object-fit:contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_poster:hover{
  transform: scale(1.08);
}
.row_posters::-webkit-scrollbar{
display: none;
}
.row_posterLarge{
    max-height: 250px;
    border-radius: 5px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
}
.row{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.banner{
    background-image: url(../images/world\ cup.webp);
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
}
.banner-content{
    padding: 140px;
    margin-left: 30px;
    height: 190px;
}
.banner-title{
 margin-top: 170px;
   font-size:30px;
   font-weight: 500px;
   padding-bottom:30px;
   display: flex;
   justify-content: start;
}
.banner-button{
    cursor: pointer;
    color:white;
    border: none;
    background-color: tomato;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-logo{
    width:160px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 40px white); 
    }
.nav{
    position: static;
    top: 0;
    display: flex;
    color: tomato;
    justify-content: space-between;
    padding: 20px;
}
.search-bar{
    border-radius: 30px;
    display: flex;
    width: 200px;
    margin-left: 1000px;
    margin:no;
}
.navbar-menu{
   font-size: 15px;
   color: #fff;
   font-weight: bold;
   font-size:30px;
   margin-left: 20px;
   padding-top: 10px;
   cursor: pointer;
   padding: 5px 20px;
   border-radius: 20px;
   text-align: center;
   display: flex;
   justify-content: center;
   list-style: none;
   
}
.profile{
    border-radius:50%;
    margin: 0;
    width: 10px;
    margin-right: 100px;
}
.menu{
    margin-left: 30px;
    text-decoration:none;
    color: #fff;
    padding:10px;
    list-style: none;
   
}
.menu:hover{
    background-color: white;
    color: tomato;
    filter: drop-shadow(0px 0px 20px tomato);

}
.search-bar{
    width: 200px;
    height: 50px;
}
.fotter-nav ul{
    display: flex;
    justify-content: center;
        color: #fff;
        list-style: none;
    
    }
    .fotter-nav ul li a{
        color: white;
        margin: 20px;
        text-decoration: none;
        font-size: 1;
        opacity: 0.3em;
    }
      .fotter-nav-list{
    color:black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    }
    fotter-nav ul li a:hover{
        opacity: 1;
    }
    fotter-bottom{
        background-color: #0000;
        padding: 20px;
        text-align: center;
    }
    .fotter-bottom p{
        color: white;
        text-align: center;
    }
    .fotter{
        background-color: #111;
        width: 100%;
       }
       .fottercontainer{
           width: 100%;
           padding: 70px 30px 20px;
       }
       .social-icon{
           display: flex;
           justify-content: center;
         
       }
       .social-icon-dign{
           text-decoration: none;
           padding: 10px;
           background-color: white;
           margin: 10px;
           border-radius: 50%;
           color: #111;
           font-size: 30px;
           padding: 10px;
       }
       .social-icon-dign:hover{
           color: white;
           transition: 0.3s;
           background-color: black;
       }
       .searchBox{
        margin-right: 30px;
        border: none;
        border-bottom: 1px solid white;
        background: transparent;
        outline: none;
        height: 30px;
        color:black;
        width: 250px;
        font-size: 20px;
        color: white;
        font-weight: 200px;
        transition: .5s;
        padding-left: 20px;
    }
    
    nav .searchBox:hover{
        width: 400px;
        margin-left: 20px;
        border-bottom: 1px solid white;
    }
    .profile{
        width: 10px;
        margin-left: 100px;
        border-radius: 50%;
    }
    .btnDesc{
        padding: 5px 10px;
        background-color: white;
        color:  black;
        font-size: 20px;
        border: 1px solid;
        border-radius: 30px;
    }
    
    .btnDesc:hover{
        background-color: red;
        color: white;
        border: none;
    }
    .profile-img{
        height: 50px;
        width: 50px;
    }

    @media (max-width: 600px){
        .btnDesc{
            padding: 5px 20px;
            background-color: white;
            color:  black;
            font-size: 15px;
            border: 1px solid;
            border-radius: 20px;
        }
        
        .btnDesc:hover{
            background-color: red;
            color: white;

        }
        .navbar-menu{
            font-size: 15px;
            color: #fff;
            font-weight: bold;
            font-size:30px;
            margin-left: 20px;
            padding-top: 10px;
            cursor: pointer;
            padding: 5px 20px;
            border-radius: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            list-style: none;
            
         }



    }