body{
    background-color: rgb(18, 16, 16);
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: rgb(47, 44, 44);
    padding: 5px;
    display: flex;
    height: 80px;
    align-items: center;
    flex-wrap: wrap;
}
.web-name{
    color: red;
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
    top: -60px;
}
.menu-icon{
    height: 35px;
    width: 35px;
    margin-bottom: 50px;
    margin-left: 10px;

}
.menu-icon:hover{
    transform: scale(1.0) ;
}
.search-icon{
    height: 35px;
    width: 35px;
    margin-top: 1px;
    margin-bottom: 60px;
    margin-left: 1100px;
}
.search-icon:hover{
    transform: scale(1.0);
    box-shadow: bisque;

}
.page-name{
    color: #fff;
    margin-left: 600px;
    margin-top: 30px;

}
.first-heading{
    color: #fff;
    margin-top:50px;
    padding-bottom: 30px;
}
.image{
    height:149px;
    border-radius: 18px;
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 10px;
}

.image:hover{
    transform: scale(1.14);
}
.big-image{
    max-height: 240px;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.big-image:hover{
    transform: scale(1.14) ;
    
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.second-heading{
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
    
}
.third-heading{
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
}
.fourth-heading{
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
}
@media only screen and (max-width: 600px){

    .navbar{
        background-color: rgb(47, 44, 44);
        padding: 5px;
        display: flex;
        height: 80px;
        align-items: center;
        flex-wrap: wrap;
    }
    .page-name{
        color: #fff;
        margin-left: 200px;
        margin-top: 30px;
    }
    .big-image{
        max-height: 220px;
        border-radius: 13px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
    }

    .search-icon{
        height: 30px;
        width: 35px;
        margin-top: 1px;
        margin-bottom: 30px;
        margin-left: 250px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px){
    .page-name{
        color: #fff;
        margin-left: 320px;
        margin-top: 30px;
    }
    .search-icon{
        height: 30px;
        width: 35px;
        margin-top: 1px;
        margin-bottom: 30px;
        margin-left: 400px;
    }
   .image{
        height:131px;
        border-radius: 18px;
        display: flex;
        flex-direction:row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 13px;
        padding-left: 13px;
        padding-bottom: 10px;
    }
    .big-image{
        max-height: 240px;
        border-radius: 13px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
}
}

    @media only screen and (min-width: 801px) and (max-width: 1400px){

        .page-name{
            color: #fff;
            margin-left: 340px;
            margin-top: 30px;
        }
        .search-icon{
            height: 30px;
            width: 35px;
            margin-top: 1px;
            margin-bottom: 30px;
            margin-left: 540px;
        }
       
        .big-image{
            max-height: 240px;
            border-radius: 13px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 5px;
    }
    .image{
        height:131px;
        border-radius: 18px;
        display: flex;
        flex-direction:row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 13px;
        padding-left: 13px;
        padding-bottom: 10px;
    }

    }
    
    
