body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}

/*  title  */ 
.title{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    margin-top: 15px;
}
.nav-logo{
    width:160px;
    object-fit: contain;
    margin-top: 30px;
    }

/*  MOVIES SECTION  */
.row-poster{
    height: 130px;
    margin-right: 10px;
    cursor: pointer;
    transition:0.5s;
}

.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row-posters::-webkit-scrollbar{
    display: none;
}

.row-poster:hover{
    transform: scale(1.10);
}
 
.row-poster-large{
    height: 250px;
}

.row-poster-large:hover{
    transform: scale(1.12);
}

.row{
    color: white;
    margin-left: 20px;
}

/* Banner Content  */
.banner{
    color: white;
    background-size: cover;
    background-position: center;
    height: 448px;
}
.banner-content{
    margin-left: 20px;
    padding-top: 140px;
    height: 190px;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
}
.banner-descrip{
    padding-top: 16px;
    font-size:15px;
    width: 360px;
    height: 180px;
}
.banner-button{
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    margin-left: 70px;
    background-color: #111;
}
.banner-button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: 0.2s;
}
.banner-bottom{
    margin-top:15px;
}

/* To go on TOP */

.top-buttons{
    display: flex;
    justify-content: center;
 }
 .top-button{
     color: #111;
     cursor: pointer;
     font-weight: bold;
     width: 50px;
     border: 3px solid black;
     border-radius: 8px;
     padding: 10px;
     margin: 20px;
     background-color: rgb(8, 218, 207);
 }
 
 .top-button:hover{
   color: #000;
   background-color:#fff;
   transition: 0.2s;
 }

 /* For mobile device */
@media only screen and (max-width:650px){
    .row-poster{
    height: 80px;
    
}

.row-poster-large{
    height: 190px;
}
.banner-content{
    margin-left: 10px;
    padding-top: 160px;
   
}
.banner-title{
    font-size: 23px;
    font-weight: bold;
    margin-left: 17px;
    padding-bottom: 7px;
}
.banner-descrip{
    width: 300px; 
    padding-top: 10px;
    font-size:15px;
}
.banner-button{ 
    font-weight: bold;
    padding: 10px;
    margin-left: 30px;
}  
.banner{
   background-size: cover;
   background-position: center;
   height: 350px;
}
}