* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Roboto Slab;
}

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(20, 20, 20)
}

.nav-logo{
    width:160px;
    object-fit: contain;
   margin-left: 20px;
    }

.leftSide {
    font-size: 40px;
    color: rgb(255, 0, 0);
    position: relative;
    left: 35px;
}

.leftSide:hover{
    font-size: 45px;
    color: red;
}

.searchBox{
    margin-right: 30px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 30px;
    color: rgb(255, 255, 255);
    width: 250px;
    font-size: 20px;
    color: red;
    font-weight: 200px;
    transition: .5s;
}

nav .searchBox:hover{
    width: 400px;
    margin-left: 20px;
    border-bottom: 1px solid red;
}

.slider{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
}

.mainCard{
    display: flex;
    width: 90%;
    height: 100%;
    position: relative;
    margin: auto;
}

.lokiCard{
    margin-right: 30px;
    position: relative;
    background: rgb(22, 22, 22);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
}

.lokiImg{
    height: 100%;
    width: 58%;
    display: block;
    border: 1px solid red;
    margin-left: auto;
}


.sliderContent{
    position: absolute;
    width: 40%;
    height: 100%;
   
}

.titleLOKI{
    font-size: 30px;
    color: white;
}

.titleLOKI:hover{
    font-size: 33px;
}

.infoLoki{
    font-size: 20px;
    color: rgb(255, 255, 255);
}


.btnDesc{
    padding: 5px 30px;
    background-color: white;
    color:  black;
    font-size: 20px;
    border: 1px solid;
}

.btnDesc:hover{
    background-color: red;
    color: white;
    border:1px solid white;
    font-size: 22px;
    padding: 6px 32px;

}

.description{
    font-size: 18px;
    color: rgb(255, 255, 255);
}


.partName{
    font-size: 20px;
    margin-left: 20px;
}

.partName:hover{
    color: red;
    font-size: 23px;
}

.moiveContainer{
    flex-wrap: wrap;
}

.moiveCard {
    position: relative;
    border-radius: 15px;
    padding: 3px;
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    height: 170px;
    display: inline-block;
    justify-content: space-between;
    overflow: hidden;
    transition: height 0.30s; 
}

.moiveCard:hover {
    border: 1px solid red;
    height: auto; 
    background-color: rgb(0, 0, 0);
}

.moiveImage {
    position: relative;
    overflow: hidden;
}

.moiveImg {
    height: 168px;
    width: 298px;
}

.moiveContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; 
    left: 0;
    background: rgb(255, 0, 0);
    box-sizing: border-box;
    padding: 12px;
    display: none; 
}

.moiveCard:hover .moiveContent {
    display: block; 
    color: red;
}

.btnContainer{
    margin: 10px;
    padding: 10px 30px;
    background-color: white;
    color: black;
}

.btnContainer:hover{
    background-color: red;
    color: white;
    border: 1px solid black;
}

.watchlistMoives {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    height: 300px;
    justify-content: flex-start; 
}

.watchlistSizes {
    height: 280px;
    width: 200px;  
    border-radius: 10px;
    margin-right: 20px; 
}

.watchlistMoives::-webkit-scrollbar {
    display: none; 
}

.watchlistSizes:hover{
    height: 290px;
    width: 210px;
    border: 1px solid red;
}

.continueWatching {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none;    
}

.continueWatching::-webkit-scrollbar {
    display: none; 
}

.moiveCard {
    flex: 0 0 auto;
    margin-right: 10px;
    border: 1px solid transparent; 
    transition: border 0.3s; 
    height: 170px; 
}

.moiveCard:hover {
    border: 1px solid red; 
    background-color: rgb(0, 0, 0);
    height: auto; 
}

.footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 23px;
    font-size: 23px;
    justify-content: space-evenly;
}

footer p b:hover{
    color: red;
    font-size: 25px;
}

footer  ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}

footer ul li a:hover{
    color: red;
    font-size: 19px;
}

.linkFooter{
    list-style: none;    
}

.imageSocial{
    height: 20px;
    width: 20px;
}

.icons{
    height: 20px;
    width: 20px;
}

.copyright{
    text-align: center;
    margin: 20px;
    color: gray;
}

@media (max-width: 400px) {
    .leftSide {
        font-size: 30px;
        left: 10px;
    }

    .searchBox {
        width: 100%;
        margin-right: 10px;
        transition: .5s;
    }

    nav .searchBox:hover {
        width: 100%;
        margin-left: 0;
    }

    .slider {
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    
    .mainCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    
    .lokiCard {
        margin: 0;
        background: rgb(22, 22, 22);
        border-radius: 5px;
        width: 100%;
        transition: 1s;
        align-items: center;
    }
    
    .lokiImg {
        width: 80%;
        display: block;
        border: 1px solid red;
        margin: 0 auto;
    }
    
    .sliderContent {
        position: static;
        width: 100%;
        text-align: center;
    }
    
    .titleLOKI {
        font-size: 25px;
    }
    
    .infoLoki {
        font-size: 18px;
    }
    
    .btnDesc {
        padding: 5px 20px;
        font-size: 16px;
    }
    
    .btnDesc:hover {
        font-size: 18px;
    }
    
    .description {
        font-size: 14px;
    }

    .continueWatching {
        overflow-x: auto;       
        white-space: nowrap;    
    }
    
    .moiveCard {
        flex: 0 0 auto;          
        margin-right: 10px;     
    }
    
    .moiveCard:hover {
        border: none;
    }
}